/*
#title{
    height: 100%;
    background-color: lightblue;
}
html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}*/
body {
    margin: 0;
    background: darkgreen;
    font-family: 'arial';
    padding: 30px
}
.centertext {
    text-align: center;
}
h1 {
    clear: both;
    margin: 0;
    color: greenyellow;
}
ul {
    background: green;
    padding: 20px;
}
li {
    list-style: none;
}
.col1 {
    float: left;
    padding: 20px;
    margin: 15px;
    background: rgb(2, 77, 2);
}
.rol1 {
    margin: 0;
    padding: 10px;
}


