/*
#title{
    height: 100%;
    background-color: lightblue;
}
html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}*/
/*body {
    margin: 0;
    background: darkgreen;
    font-family: 'arial';
    padding: 15px
}
footer {
    clear: both;
}
.centertext {
    text-align: center;
}
h1 {
    clear: both;
    margin: 0px;
    color: greenyellow;
}
h2 {
    clear: both;
    margin: 0px;
    color: greenyellow;
}
ul {
    background: green;
    padding: 20px;
}
li {
    list-style: none;
}
.col {
    border-radius: 5px;
    float: left;
    background: rgb(2, 77, 2);
    width: 29%;
    margin: 1%;
    padding: 1%;
}
.rol {
    margin: 0;
    padding: 10px;
}
.green {
    background: green;
}*/

body {
    background: black;
    color: rgb(22, 175, 22);
}
body a {
    color: green;
}
footer a {
    color: green;
}
.centertext {
    text-align: center;
}
.card {
    margin: 15px;
    padding: 10px;
    background: rgb(44, 44, 44);
}
.row {
    margin: 5px;
}
h1 {
    background: rgb(44, 44, 44);
    border-radius: 10px;
    margin: 10px 250px 0px 250px;
}
canvas {
    padding: 15px;
}
.hide {
    display: none;
}




